<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
    <title>To Do APP</title>
  </head>
  <body class="container">
    <h1 class="text-center">To Do App</h1>
    <form id="addTaskForm">
      <div class="form-group mb-1">
        <label for="taskInput">Enter a task:</label>
        <input type="text" class="form-control" id="taskInput" />
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Todo item</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% tasks.forEach((task) => { %>
        <tr>
          <th scope="row"><%= task['_id'] %></th>
          <td><%= task['description'] %></td>
          <td><%= task['isComplete'] ? 'Complete' : 'In progress' %></td>
          <td>
            <form id="deleteForm" style="display: inline-block" onsubmit="deleteTask(`<%= task['_id'] %>`)">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <form id="completeForm" style="display: inline-block" onsubmit="toggleComplete(`<%= task['_id'] %>`)">
              <button type="submit" class="btn btn-success">
                <%= task['isComplete'] ? 'Complete' : 'Incomplete' %>
              </button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <script>
      const addTaskForm = document.getElementById("addTaskForm");
      const taskInput = document.getElementById("taskInput");
      const completeForm = document.getElementById("completeForm");
      const deleteForm = document.getElementById("deleteForm");
      addTaskForm.addEventListener("submit", (e) => {
        e.preventDefault();
        return axios({
          method: "post",
          url: "/task",
          data: {
            description: taskInput.value
          },
        }).then(() => addTaskForm.submit());
      });
      async function deleteTask(taskId) {
        event.preventDefault();
        return axios.delete(`task/${taskId}`).then(() => deleteForm.submit());
      }

      async function toggleComplete(taskId) {
        event.preventDefault();
        return axios.put(`task/toggle/${taskId}`).then(() => completeForm.submit());
      }

    </script>
  </body>
</html>
